<div class="container-fluid">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">SIGN IN </h6>
                </div><div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Email: an123@gmail.com </h6>
                </div><div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Password: an123 </h6>
                </div>
                <form method="post">
                    <div>
                        <label>Email:</label>
                        <input type="text" name="email"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password"/>
                    </div>
                    <div>
                        <input type="submit" value="Log In"/>
                    </div>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>